.infoAboutInterlocutor
	text-align: center;
	
	display: grid;
	//4 rows
	grid-template-rows: 30% 20% 20% 20%;
	grid-template-columns: 1fr;
	color: white;
	border: 3px ridge rgb(41, 122, 209);
	background-color:rgb(20, 82, 147);
	box-shadow: -3px -2px (rgb(23, 100, 181));
	box-sizing: border-box;
	
	.user
		&__avatar
		span
			margin-top: 5%;
			img
				border-radius: 50%;
				width: 100px;
				height: 100px;