html
	background-image: url('https://www.ihdimages.com/wp-content/uploadsktz/2014/11/city_black_and_white_desktop_wallpaper.png');
	background-size: cover;
	padding: 0;
	margin: 0;	
	
@import "src/mainLogin/mainLogin.styl";

@import "src/chat/main.styl";