section
	width: 100%;
	height: 100%;
	display: grid;
	grid-template-rows: 1fr;
	grid-template-columns:  1fr 3fr 1fr;
	grid-column-gap: 3px;

@import "dialogs/dialogs.styl"
@import "userInfo/userInfo.styl"
@import "chats/chats.styl"