.dialog
	.set
		.set__users
			.set__users-icon.
				icon
			.set__users-time.
				2121
		.set__message.
			Hay
	
	.get
		.get__message.
			Hello
		.get__users
			.get__users-icon.
				icon
			.get__users-time.
				2121
	form(action="")
		input(type="textarea" name="inputMSG")
		.button 
			img(src="http://snapchat-download.net/wp-content/uploads/2015/10/snapchat-blue-arrow-icon-mean.png")