.dialog
	.set
		.set__users
			.set__users-icon.
				icon
			.set__user-time.
				2121
		.set__message.
			Hay
	
	.get
		.get__message.
			Hello
		.get__users
			.get__users-icon.
				icon
			.get__user-time.
				2121
	form(action="")
		input(type="textarea" name="inputMSG")
		button() 
			img(src="")