.infoAboutInterlocutor
	.user__avatar
		span 
			img(src="https://static.pexels.com/photos/289225/pexels-photo-289225.jpeg")
	.user__nickName
		span Nicka
	.user__phone
		span 09x-xxx-xx-xx
	.user__gender
		span Female